<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <!-- <link rel="icon" type="image/x-icon" href="/Screenshot 2024-04-21 094310.png"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        body,
        input {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    <h1>GOAT </h1>
    <div style="display: flex;height: 50vh; justify-content: center; justify-items: center;">
        <form action="/search" method="POST" style="width: 60%; margin: auto;">
            <label for="search_query" style="font-size: 1rem;">What do you want to scrape?</label>
            <br>
            <div style="display: flex; gap: .2rem;">
                <input type="text" id="search_query" name="search_query" required style="border: 2px solid black;width: 100%; font-weight: 500; font-size: .9rem;">
                </style>
                <button type="submit" style="margin-top: 0rem; background-color: transparent; font-size: 1rem;">Search</button>
            </div>
        </form>
    </div>
    
    <!-- <div style="text-align: center; width: 60%;">
        Scrapping completed: <a style="color: black;" href="https://docs.google.com/spreadsheets/d/1obITLXTOkmu0yqY_0MnI9gj83QTtjsIZltEG39JFyxY/edit?usp=sharing" target="_blank" >View in Gsheet</a>
    </div> -->
</body>

</html>